#category-desc {
    font-family: Times New Roman, Times, serif;
    font-size: 18pt;
    position: relative;
    top: -24px;
}

#color-block {
    background: #f5f5dc;
    width: 98px;
    height: 600px;
}

#acorn-logo {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 516px;
    margin-left: 8px;
}

#image-container {
/*border:1px solid red;*/
    margin-top: 0px;
}

.bigimage {
 height:600px;
}


.copy
{
font-family: sans-serif;
  font-size:14px;
}


#footer {
    margin-top: -16px;
}

